/target/
/Music Manager/bin
/Music Manager/src/data/mp3 storage
/Music Manager/src/data/txt storage/musics repository/*.txt
/Music Manager/src/data/txt storage/playlists repository/*.txt
/Music Manager/src/data/txt storage/users repository/*.txt
